# 1. Frame the Porblem (5 points)
Among the following choices, What types of machine learning tasks would you frame the problem described above?

1.Supervised learning 
2.Unsupervised learning
3.Reinforcement learning
4.Classification
5.Regression
6.Univariate regression
7.Multivariate regression

 
Following are the machine learning tasks that can be used to frame the above problem:
1.Supervised Learning task.
2.Regression.
3.Multivariate Regression.
As the example dataset includes labelled training examples it is a supervised leaning task. Also, it is required to predict a value ie to make a predcition, that's when regression comes to picture. This is a mulivariate regression problem as the system uses multiple features to predict a value.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv("housing.csv")

In [7]:
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [10]:
assert dataset is not None and type(dataset).__name__ == 'DataFrame'

In [11]:
assert dataset.shape == (20640, 10)

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

All attributes are numeric except for the "ocean_proximity" attribute. It is a type object, so it can hold any kind of Python object such as objects of built-in types like (int, float, bool, str, tuple, unicode) are immutable. Objects of built-in types like (list, set, dict) are mutable. Also, the values in this attribute are repetetive, which tells us that it is a categorical attribute.

In [17]:
dataset["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [74]:
dataset["ocean_proximity"].groupby(['ocean_proximity'])['Value'].max()

KeyError: 'ocean_proximity'

The below used method shows a summary of numerical attributes.

In [53]:
dataset.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20636.000000,20636.000000,20636.000000,20636.000000,20429.000000,20636.000000,20636.000000,20636.000000,20636.000000
mean,-119.569188,35.631430,28.636994,2635.754507,537.894611,1425.570023,499.556067,3.869990,206823.006445
std,2.003382,2.135934,12.584269,2181.535439,421.385509,1132.490877,382.320551,1.899316,115381.060272
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1448.000000,296.000000,787.000000,280.000000,2.562500,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534600,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.742600,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

g. What is the standard deviation of the population in the districts?

In [ ]:
g. What is the standard deviation of the population in the districts

In [49]:
np.std(dataset["population"])

1132.4634372052478

In [20]:
dataset["total_bedrooms"].value_counts()

280.0     55
331.0     51
345.0     50
393.0     49
343.0     49
348.0     48
328.0     48
394.0     48
272.0     47
309.0     47
295.0     46
317.0     46
322.0     46
399.0     46
314.0     46
284.0     45
388.0     45
291.0     45
346.0     45
287.0     45
340.0     45
313.0     45
290.0     45
312.0     44
361.0     44
460.0     44
390.0     44
300.0     44
294.0     44
269.0     44
          ..
2574.0     1
2141.0     1
2460.0     1
3479.0     1
1679.0     1
1758.0     1
3224.0     1
1127.0     1
2010.0     1
1571.0     1
1494.0     1
1052.0     1
1570.0     1
2814.0     1
1437.0     1
1887.0     1
3336.0     1
1215.0     1
1736.0     1
940.0      1
980.0      1
2009.0     1
3864.0     1
2289.0     1
1288.0     1
2205.0     1
1448.0     1
1691.0     1
2537.0     1
2546.0     1
Name: total_bedrooms, Length: 1923, dtype: int64

In [30]:
df = dataset["total_bedrooms"] = np.nan
df

nan

In [79]:
print(dataset.isnull().values.sum(),dataset["total_bedrooms"].isnull().values())

TypeError: 'numpy.ndarray' object is not callable

In [80]:
df = dataset["total_bedrooms"].notnull().values.sum()

In [81]:
df

20429

In [36]:
print("total_bedrooms", df)

total_bedrooms 211

In [41]:
dataset["total_bedrooms"].head()

0      NaN
1      NaN
2      NaN
3      NaN
4    280.0
Name: total_bedrooms, dtype: float64

In [42]:
dataset["total_bedrooms"].isnull().sum()

211

In [ ]:
df2=pd.DataFrame({'A':[1,5,0], 'B':[3, 5, 6]})
 df2['A'].max()
np.std(dataset["population"])   

df2=

h. What are the max value of the median_house_value?

In [76]:
dataset["housing_median_age"].max()

52.0

j. Write a code segment to compute the mean value of the median_house_value for the districts with NEAR BAY "ocean_proximity".

f. What percentage of the districts have a __housing_median_age__ lower than 18?

In [57]:
dataset["housing_median_age"].value_counts("housing_median_age"<18)

TypeError: '<' not supported between instances of 'str' and 'int'

In [71]:
gt_60 = dataset["housing_median_age"] < 18
print((gt_60.sum()/dataset["housing_median_age"].sum())*100)

0.804801735501808

In [68]:
gt_60.sum()

4756

In [65]:
gt_60.mean()

0.23042635658914729

In [ ]:
print str(int(1.0/3.0*100))+'%'